@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, span, ul, li, ol, p {
  padding: 0;
  margin: 0; }

body {
  font-family: "\5FAE\8F6F\96C5\9ED1", Verdana, sans-serif;
  color: #222; }

ul, li {
  list-style: none; }

a {
  color: #222;
  text-decoration: none; }

iframe {
  width: 100%;
  height: 100%; }

i, em, cite {
  font-style: normal; }

/* 这部分没加上 */
.header, .main {
  position: absolute;
  width: 100%; }

.header {
  height: 50px;
  background: #2b3643; }

/* main panel */
.main {
  /*top: 60px;*/
  top: 50px;
  bottom: 0;
  overflow: hidden; }
  .main > .aside, .main > .article {
    position: absolute;
    min-width: 1px;
    height: 100%; }
  .main > .aside {
    background: #364150;
    width: 220px;
    box-sizing: border-box;
    border-right: 1px solid #333;
    z-index: 2; }
  .main > .article {
    left: 220px;
    right: 0;
    border-left: 1px solid #777; }
    .main > .article > .tabs, .main > .article > .panel {
      position: absolute;
      width: 100%; }
    .main > .article > .tabs {
      height: 60px;
      background: #fcfcfc;
      border-bottom: 1px solid #ddd;
      z-index: 1; }
    .main > .article > .panel {
      overflow: hidden;
      background: #fff;
      top: 61px;
      bottom: 0; }

#navBar ul {
  background: #708096;
  opacity: 0.8; }

#navBar a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: all .2s ease-out; }
  #navBar a:hover {
    background: #2C3542; }

.tabs {
  overflow: hidden; }
  .tabs > .tab {
    float: left;
    position: relative;
    margin: 1px;
    background: #f1f1f1; }
    .tabs > .tab:hover {
      background: #ddd; }
    .tabs > .tab > .tab-title {
      display: block;
      padding: 10px 40px 10px 10px; }
    .tabs > .tab > .tab-rm {
      position: absolute;
      top: 8px;
      right: 10px;
      display: inline-block;
      cursor: pointer; }
      .tabs > .tab > .tab-rm:hover {
        color: red; }
  .tabs > .tab-selected {
    background: #ddd; }

.panel > .iframe {
  display: none; }

.panel > .iframe-selected {
  display: block; }
