body, div, ul, li {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, SimHei, serif;
    font-size: 13px;
    color: #666;
}

body {
    min-width: 1000px;
}

ul {
    list-style: none;
    display: block;
    float: left;
}

li {
    display: block;
    float: left;
    padding-left: 2px;
    padding-right: 50px;
}

#header {
    height: 30px;
}


/******查询******/

/*以及选择的查询条件*/
#condition-wrap {max-width:78%;float: left;}
.cdt-arrow-wrap {float: left;}
.condition {float: left;height: 20px;line-height: 20px;width: 200px;background: #fff;border: 1px solid #ddd;
margin: 6px 0;border-radius: 2px;}
.cdt-arrow {float: left;margin: 0 6px;}
.cdt {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;float: left;}
.cdt-type {width:48px;padding: 0 2px;}
.cdt-txt {width: 128px;color: #e4393c;}
.cdt-rm-btn {width: 20px;height: 20px;text-align: center;color: #e4393c;line-height: 20px;
    font-weight: bold;}
.cdt-rm-btn:hover {background: #e4393c;color: #fff;cursor: pointer;}
.condition:hover {border-color: #e4393c;border-radius: 2px;}
#cdt-cancleAll {float: right;padding: 0 20px;}

#queryInput {padding: 4px 0;}

/*筛选列表*/
#goods_list, #shop_cart {
    width: 90%;
    margin: 0 auto;
}

#filter input {
    border: 1px solid #888;
    color: #333;
    border-radius: 2px;
}

#filter {
    border-top: 1px solid #ddd;
    background: #fff;
    margin-bottom: 10px;
}

#filter .fil_title {
    border-bottom: 1px solid #ddd;
    background: #f1f1f1;
}

#filter .fil_title h3 {
    display: block;
    padding-left: 20px;
    float: left;
}

#filter .fil-height {
    height: auto;
    line-height: 34px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

#filter .fil_type {
    position: relative;
}

#filter .f-key {
    float: left;
    padding:0 10px;
    width: 100px;
}

#filter .f-value {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

#filter a {
    white-space: nowrap;/*不换行*/
    color: #005aa0;
    text-decoration: none;
}

#filter a:hover {
    color: #e4393c;
}

#filter .input-txt {
    margin: 0 4px;
    width: 42px;
}

#filter .f-btn {
    display: inline-block;
    height: 20px;
    width: 42px;
    background: #f7f7f7;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #888;
    color: #333;
    line-height: 20px;
    padding: 0 4px;
}

#filter .f-btn:hover {
    cursor: pointer;
    border-color: #e4393c;
    color: #e4393c
}

#grid .dg-left {width: 100%;float: left;}
#grid .dg-wrap {border: 1px solid #95B8E7;}
/*折扣弹出框*/
#grid .dg-right {position: relative;}
#grid .dg-dtl {position: absolute;width: 480px;background: #fff;display: none;right: 0px;border: 1px solid #95B8E7;z-index: 10;}

#grid .discount {}

#grid .discount-header {height: 40px;border-bottom: 1px solid #95B8E7;background: #fff;}
#grid .dsct-q-btn {width: 40px;height: 40px;font-weight: bold;float: right;text-align: center;font-size: 30px;color: #000;}
#grid .dsct-q-btn:hover {background: #e4393c;color: #fff;cursor: pointer;}

#grid .discount-options {min-height: 120px;}
#grid .discount-options li{float: none;padding: 0;}
#grid .discount-options input{border: none;}

#grid .dsct-title-inbar {font-size: 16px;font-weight: bold;}
#grid .dsct-value-inbar {font-size: 16px;font-weight: bold;}
#grid .dsct-title {padding: 0px 10px;display: inline-block;text-align: right;line-height: 40px;width: 130px;}
#grid .dsct-value {padding: 0px 10px;display: inline-block;text-align: center;line-height: 40px;width: 200px;}
#grid .dsct-value input{width: 200px;}

#grid .discount-options .dsct-cbbx{padding: 4px;}

#grid .discount-bar {height: 40px;}
#grid .discount-btn-wrap {display: inline-block;float: right;}
#grid .dsct-msg {display: inline-block;padding: 0 8px;}
#grid .dsct-btn {height: 40px;color: #fff;line-height: 40px;font-weight: bold;background: #95B8E7;}
#grid .dsct-btn:hover {color: #fff;cursor: pointer;}

.dg-cell {background: #fff;color: #fff;border-top: 1px solid #95B8E7 !important;border-left: 1px solid #95B8E7 !important;
    border-right: 1px solid #95B8E7 !important;border-bottom-width: 0px!important;z-index: 11;position: relative;}

.arrow-down {height: 20px;width: 20px;position: absolute;display: inline-block;background: url("arrow.png") no-repeat scroll;background-position: 4px -12px;}
.arrow-up-red{background-position: 4px -47px;}

/**********购物车*********/
/*公共*/
.columns{height: inherit;line-height: inherit;background: inherit;}
/*环绕左中右*/
.cwrap-left {float: left;}
.cwrap-center {margin: 0 400px 0 300px;}
.cwrap-right {float: right;}
/*宽度*/
.c-ckb {padding:0 10px;width: 100px;float: left;}
.c-gds {padding:0 10px;width: 160px;float: left;word-break: break-all;overflow-y: auto;}
.c-gds-inf {padding:0 10px;word-break: break-all;float: left;}
.c-gds-inf, .gds-detail {word-break: break-all;}
.c-cart {overflow-y: auto;height: 120px;}
.c-oth {padding:0 10px;width: 80px;float: left;text-align: right}

.gds-amount {float: left;width: 14px;height: 20px;line-height: 20px;border: 1px solid #ddd;margin-top: 6px;text-align: center}
.gds-amount:hover {color: #e4393c;cursor: pointer;border-color: #e4393c;}
.gds-amount-val {float: left;width: 46px;height: 18px;line-height: 18px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;
    border-left: hidden;border-right: hidden;text-align: center;margin-top: 6px;}
.gds-amount-pos {position: relative; left: 30px;}

#shop_cart a{text-decoration: none;white-space: nowrap;color: #005aa0;}
#shop_cart a:hover{color: #e4393c;}

.cart-bar {height: 34px;line-height: 34px;border-bottom: 1px solid #ddd;border-top: 1px solid #e9e9e9;background: #f3f3f3}
.cart_list {height: 140px;line-height: 34px;border-bottom: 1px solid #ddd;background: #fff}
.cart-selected {background: #fff4e8;}
#cart-order {height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;background: #fff}
.orderButton {width: 60px;background: #e4393c;text-align: center;color: #fff;margin-left: 20px;font-weight: bold;font-size: 16px;}
.orderButton:hover {cursor: pointer;}


/*其他*/
em {color: #e4393c; font-weight: bold;}
.clr {
    clear: both;
}
.hid {display: none;}
.loading-wrap {margin: auto;padding: 40px 0;width: 60px;}
.loading-gif {width: 60px;height: 60px;display: block;}
