
#navBar {

	ul {
		background: #708096;
		opacity: 0.8;
		> li {

		}
	}

	a {
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration: none;
		transition: all .2s ease-out;
		&:hover {
			background: #2C3542;
		}
	}


}