
#navBar {

	ul {
		background: #708096;
		opacity: 0.8;
		> li {
			ul li {
				padding-left: 20px;
			}
		}
	}

	.menu-item {
		box-sizing: border-box;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration: none;
		transition: padding-left .5s ease-out;
		width: 100%;
		position: relative;

		&:hover {
			padding-left: 30px;
			background: #2C3542;
		}
	}

}