

// ====================== grid ============================
// grid variable
$grid-pd: 10px;
$grid-col-num: 12;


// ====================== size ============================
// size
$content-lg-wd: 1000px;
$header-ht: 100px;
$footer-ht: 30px;



// ====================== media query ============================
$screen-sm: 580px;
$screen-md: 960px;
$screen-lg: 1200px;
$min-sm: $screen-sm;
$min-md: $screen-md;
$min-lg: $screen-lg;
$max-xs: ($screen-sm - 1);
$max-sm: ($screen-md - 1);
$max-md: ($screen-lg - 1);


// ====================== padding/margin ============================
$xs: 8px;
$sm: 16px;
$md: 20px;
$lg: 60px;
$xl: 100px;

$padding-xs: $xs;
$padding-sm: $sm;
$padding-md: $md;
$padding-lg: $lg;
$padding-xl: $xl;

$margin-xs: $xs;
$margin-sm: $sm;
$margin-md: $md;
$margin-lg: $lg;
$margin-xl: $xl;



// ====================== font ============================
$color: #222;
$font-family: "微软雅黑", Verdana, sans-serif;

$font-size-base: 16px;
$font-xs: $font-size-base * 0.75;
$font-sm: $font-size-base * 0.875;
$font-lg: $font-size-base * 1.5;
$font-xl: $font-size-base * 2;
$font-size-h1: $font-size-base * 3;
$font-size-h2: $font-size-base * 1.5;
$font-size-h3: $font-size-base * 1.125;
$font-size-h4: $font-size-base;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-base * 0.875;


// ====================== color ============================
// theme

$header-bg-color: #2b3643;
$aside-bg-color: #364150;